<div class="row">
  <div class="col-xs-12 col-sm-8">
    <h3>contact</h3>
    <p>
      If you have any problems or want to make a suggestion come to my <a href="https://discord.gg/011C92KwJWoCfRcEY">&raquo;discord server</a><br />
      or<br />
      * use the <a href="https://github.com/spacem/dngearsim/issues">&raquo;github issue tracker</a><br />
      * use the <a href="http://feathub.com/spacem/dngearsim">&raquo;feathub feature voting</a><br />
    </p>    
  <div class="col-sm-4 hidden-xs">
    <img src="assets/images/tink.png" />
  </div>
</div>
